@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    --main-color:#d2d1d1;
    color: var(--main-color);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

footer nav .bottomn-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 15px;
    font-size: 14px;

}

footer nav .bottomn-menu li a {
    text-decoration: none;
    color: #d2d1d1;
    padding: 5px;
    border: 1px solid transparent;

}

footer nav .bottomn-menu li a:hover {
    border: 1px solid var(--main-color);
    background-color: #f0f1f7;
}

div#contactinfo {
    text-align: center;
    font-size: 14px;
    color: #d2d1d1;
}

@media (min-width:768px) {

    footer nav .bottomn-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    font-size: 14px;
    
     }

}
