@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap");

:root {
  font-family: "Lato", sans-serif;
  --main-color: black;
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}
body {
  max-width: 960px;
  margin: auto;
  background-image: url(../img/mainbackground.jpg);
  background-size: cover;
}
#homelink {
  color: white;
  padding: 14px 25px;
  font-size: 16px;
}

h1, p {
  text-align: center;
}
/* Add padding to containers */
.container {
  padding: 16px;

}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color:hsla(120, 100%, 75%, 0.3);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 2px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
}

.registerbtn:hover {
  opacity: 1;
  
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
  padding: 7px 7px 10px 7px;
  
}
a:hover {
  border: 1px solid #d2d1d1;
  border-radius: 5px;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  color: #d2d1d1;
  text-align: center;
}
h1, p, b {
  color: #d2d1d1;
}